{% extends 'profiles/base.html' %}
{% load i18n thumbnail typogrify tags %}
            {% block content %}
            <div id="content">
                <h2>{% trans 'Employees' %}</h2>
                <div class="user-list clearfix" id="inner">
                    {% for object in object_list %}
                    <div class="vcard" id="hcard-{{ object.full_name|slugify }}">
                        <img class="photo" alt="" src="{% thumbnail object.avatar 50x50 autocrop,crop,upscale %}">
                        <h3>
                            <a class="url fn" href="{{ object.get_absolute_url }}">
                                {{ object.full_name|truncatestring:"17"|typogrify }}
                            </a>
                        </h3>
                        <h3 class="role">
                            {% if object.role %}
                            {{ object.role|typogrify }}
                            {% else %}
                            {% trans 'No role' %}
                            {% endif %}
                        </h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endblock content %}

