smartypants
-e svn+http://django-command-extensions.googlecode.com/svn/trunk/#egg=django_extensions
-e svn+http://typogrify.googlecode.com/svn/trunk/#egg=typogrify
-e svn+http://django-pagination.googlecode.com/svn/trunk/#egg=pagination
South>=0.6
django-registration
django-profiles
BeautifulSoup
Markdown
-e svn+http://django-compress.googlecode.com/svn/trunk/#=compress
python-dateutil
