{% extends "schedule/base.html" %}
{% load i18n schedule_tags %}

            {% block content %}
            <div id="content">
                <h2>{% trans 'Task List' %}</h2>
                <div class="clearfix" id="inner">
                    <ul>
                    {% for object in object_list %}
                    <li>
                        <a href="{% url schedule_user_task_list object.user.username %}">
                            {{ object.full_name }}
                        </a>
                    </li>
                    {% endfor %}
                    </ul>
                    <hr>
                </div>
            </div>
            {% endblock content %}
