h1 { font-size: 25px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 20px; }
ol { list-style: decimal; }
ul { list-style: square; }
li { margin-left: 30px; }
a { text-decoration: none; }
a:link { color: #fd1b14; }
a:visited { color: #fa1811; }
a:hover { color: #ff6c50; }
a:active { color: #fd1b14; }
.w50 { width: 50%; }
.w33 { width: 33.33%; }
.block {
  float: left;
  display: inline;
  *margin-left: -0.04em;
}
.serif-stack {
  font-family: "Berthold Baskerville", Baskerville, Georgia, serif;
  font-weight: normal;
  letter-spacing: 1px;
}
.sans-serif-stack { font-family: Helvetica, "Helvetica LT Std", Arial, sans-serif; }
.left-padding { padding-left: 10px; }
body {
  background: #eeecde;
  color: #222222;
  font-size: 100%;
  line-height: 1.4;
  font-family: Helvetica, "Helvetica LT Std", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Berthold Baskerville", Baskerville, Georgia, serif;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1;
}
#main {
  margin: 0 auto;
  width: 85%;
}
#header {
  background: #222222;
  padding: 0 0 10px 20px;
  margin-bottom: 0;
}
#header h1 {
  font-size: 39px;
  color: #fd1b14;
  font-family: Helvetica, "Helvetica LT Std", Arial, sans-serif;
  padding-top: 20px;
}
#top-nav {
  background-color: #0b0b0b;
  margin-bottom: 20px;
  -moz-box-shadow: 0px 8px 8px -5px #999999;
  box-shadow: 0px 8px 8px -5px #999999;
}
#top-nav ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 10px 0;
}
#top-nav ul li {
  margin-left: 20px;
  margin-right: 10px;
  float: left;
}
ul#user-options {
  float: right;
  padding-right: 10px;
}
ol.skills { margin-bottom: 0; }
ol.skills li {
  float: none;
  display: block;
  margin: auto;
  width: auto;
}
.user-list div {
  width: 33.33%;
  float: left;
  display: inline;
  *margin-left: -0.04em;
  margin-bottom: 20px;
  display: table-cell;
  vertical-align: middle;
}
.skill-detail > div {
  margin-bottom: 20px;
  float: left;
  display: inline;
  *margin-left: -0.04em;
  width: 50%;
}
.user-detail > div {
  margin-bottom: 20px;
  float: left;
  display: inline;
  *margin-left: -0.04em;
  width: 50%;
}
.skill-detail p { padding-right: 20px; }
.skill-list ul a { margin-right: 10px; }
.project-list h3 + p { margin-top: -15px; }
.project-list > div > p + p {
  width: 50%;
  float: left;
  display: inline;
  *margin-left: -0.04em;
}
.project-list > div > ul {
  width: 50%;
  float: left;
  display: inline;
  *margin-left: -0.04em;
}
.project-list > div { clear: both; }
.project-list ul { list-style-type: none; }
.project-list li { margin-left: 0; }
#content {
  background-color: #ffffff;
  padding: 10px;
}
#content h2 {
  background: #f0f7da url(../img/head-bg.jpg);
  padding: 10px 0 10px 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #ffffff;
}
#content hr {
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ccd2b9;
  clear: both;
}
#content > p {
  background: #f0f7da;
  padding: 20px 10px 0;
}
#content > div {
  background: #f0f7da;
  padding: 20px 10px 0;
}
.user-list ol { padding-left: 10px; }
.user-list h3 {
  margin-left: 65px;
  margin-bottom: 0;
}
.user-list h3 + .user-list h3 { margin-bottom: 20px; }
.user-list img { float: left; }
.user-list h3 img { vertical-align: middle; }
.user-detail img {
  background: #ffffff;
  padding: 3px;
  border: 1px solid;
  border-color: #d3d3d3;
}
.user-list img {
  background: #ffffff;
  padding: 3px;
  border: 1px solid;
  border-color: #d3d3d3;
}
.user-detail .vcard h3 { margin-left: 125px; }
.user-detail .vcard ul { margin-left: 125px; }
.vcard img { float: left; }
div.vcard { margin-bottom: 20px; }
.note {
  font-size: 0.8em;
  color: #636363;
}
ol li {
  font-family: "Berthold Baskerville", Baskerville, Georgia, serif;
  font-weight: normal;
  letter-spacing: 1px;
}
ol li span {
  font-family: Helvetica, "Helvetica LT Std", Arial, sans-serif;
  letter-spacing: normal;
}
ol li a {
  font-family: Helvetica, "Helvetica LT Std", Arial, sans-serif;
  letter-spacing: normal;
}
form label {
  width: 150px;
  float: left;
}
form button {
  background-color: #0b0b0b;
  border: none;
  color: #fd1b14;
  padding: 5px;
}
form div { margin-bottom: 10px; }
ul.errorlist {
  list-style-type: none;
  margin: 0;
  color: red;
}
ul.errorlist li { margin: 20px 0 1px; }
ul.errorlist li:first-child { margin-top: 0; }
table { width: 100%; }
tr:last-child { border-bottom: 2px solid #ffffff; }
td {
  border: 2px solid #ffffff;
  border-bottom: 0;
  padding: 10px;
  width: 75px;
  height: 150px;
}
td.noday { background: #f0f7da; }
td.today {
  color: orange;
  background: #f4f9e4;
}
td h4 {
  font-family: "Berthold Baskerville", Baskerville, Georgia, serif;
  font-weight: normal;
  letter-spacing: 1px;
}
td.history { color: #888888; }
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
