{% extends "registration/base.html" %}
{% load i18n %}


{% block content %}

<div id="content">

    {% if account %}
    <h2>{% trans 'Congratulations, your account has been activated' %}</h2>
    <div class="clearfix">
        {% trans 'You can now ' %}<a href="{% url login %}">{% trans 'login' %}</a>
        <hr>
    </div>
    {% else %}
    <h2>
        {% trans 'Activation failed' %}
    </h2>
    <div class="clearfix">
        {% trans 'It appears that the activation code is invalid.' %}
        <hr>
    </div>
    {% endif %}

</div>
{% endblock %}
