{% extends 'workers/base.html' %}
{% load i18n thumbnail tags typogrify %}

{% block title %}{% trans 'Skills' %}{% endblock %}

            {% block content %}
            <div id="content">
                <h2>{% trans 'Skills' %}</h2>
                <div class="clearfix skill-list">
                    <ul>
                        {% for skill in object_list %}
                        <li>
                            {% include 'workers/skill_list_item.html' %}
                        </li>
                        {% endfor %}
                    </ul>
                    <hr>
                </div>
            </div>
            {% endblock content %}

