{% load i18n compressed %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{% trans 'Jung' %} &ndash; {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        {% compressed_css 'all' %}
        {% block scripts %}
        {% compressed_js 'all' %}
        {% endblock %}
    </head>
    <body>
        <div id="main">
            <div id="header">
                <h1>{% trans 'Jung' %}</h1>
            </div>
            <div id="top-nav" class="clearfix round">
                <ul id="user-options" class="clearfix">
                    {% if not user.is_authenticated %}
                    <li><a href="{% url login %}">{% trans 'Login' %}</a></li>
                    <li><a href="{% url registration_register %}">{% trans 'Register' %}</a></li>
                    {% else %}
                    <li><a href="">{% trans 'Profile' %}</a></li>
                    {% endif %}
                </ul>
                <ul class="clearfix">
                    <li>
                        <a href="{% url workers_employee_list %}">
                            {% trans 'Employees' %}
                        </a>
                    </li>
                    {% comment %}
                    <li><a href="">{% trans 'Projects' %}</a></li>
                    {% endcomment %}
                    <li><a href="{% url workers_skill_list %}">{% trans 'Skills' %}</a></li>
                </ul>

            </div>
            {% block content %}
            <div id="content">
                <h2>{% trans 'Employees' %}</h2>
                <div class="user-list clearfix" id="inner">
                    <div>
                        <h3><a href="">Employee #1</a></h3>
                        <ol class="skills">
                            <li>Python</li>
                            <li>Python</li>
                            <li>Python</li>
                            <li>Python</li>
                        </ol>
                    </div>
                    <div>
                        <h3><a href="">Employee #1</a></h3>
                        <ol class="skills">
                            <li>Python</li>
                            <li>Python</li>
                            <li>Python</li>
                            <li>Python</li>
                        </ol>
                    </div>
                    <div>
                        <h3><a href="">Employee #1</a></h3>
                        <ol class="skills">
                            <li>Python</li>
                            <li>Python</li>
                            <li>Python</li>
                            <li>Python</li>
                        </ol>
                    </div>
                    <div>
                        <h3><a href="">Employee #1</a></h3>
                        <ol class="skills">
                            <li>Python</li>
                            <li>Python</li>
                            <li>Python</li>
                            <li>Python</li>
                        </ol>
                    </div>
                </div>
            </div>
            {% endblock content %}
        </div>
    </body>
</html>
