{% extends 'profiles/base.html' %}

{% load i18n thumbnail tags typogrify %}

{% block title %}{{ profile.user.get_full_name }}{% endblock %}
            {% block content %}
            <div id="content">
                <h2>{% trans 'Employee Detail' %}</h2>
                <div class="user-detail clearfix">
                    <div>
                        <div id="hcard-{{ profile.full_name|slugify }}" class="clearfix vcard">
                            <img class="photo" src="{% thumbnail profile.avatar 100x100 autocrop,crop,upscale %}" alt="">
                            <h3 class="fn">{{ profile.full_name|typogrify }}</h3>
                            <ul>
                                {% if profile.user.email %}
                                <li>
                                    {{ profile.user.email|obfuscate }}
                                </li>
                                {% endif %}
                                {% if profile.im.count %}
                                {% for contact in profile.im.all %}
                                <li>
                                {{ contact.get_service_display }} <span class="note">({{ contact.get_location_display }})</span>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div>
                        <h3>{% trans 'Skills' %}</h3>
                        <ol>
                            {% for skill in profile.skill.all %}
                            <li>
                            {% include 'workers/skill_list_item.html' %}
                            </li>
                            {% empty %}
                            <li>{% trans 'unskilled (Management)' %}</li>
                            {% endfor %}
                        </ol>
                        <h3>{% trans 'Tasks' %}</h3>
                        <a href="{% url schedule_user_task_list profile.user.username %}">{% trans 'Tasks' %}</a>
                    </div>
                    <hr>
                </div>
            </div>
            {% endblock content %}
