{% extends 'profiles/base.html' %}
{% load i18n thumbnail typogrify %}
            {% block content %}
            <div id="content">
                <h2>{% trans 'Employees' %}</h2>
                <div class="user-list clearfix" id="inner">
                    {% for object in object_list %}
                    <div>
                        <img alt="" src="{% thumbnail object.avatar 50x50 autocrop,crop,upscale %}">
                        <h3>
                            <a href="{{ object.get_absolute_url }}">
                                {{ object.full_name }}
                            </a>
                        </h3>
                        <h3>
                            {{ object.role|typogrify }}
                        </h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endblock content %}

